
.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    color: white;
    background-color:rgba(0, 0, 0, 0.95);
    opacity: 0;
    transition: opacity 2000ms ease-in-out;
  }

.Modal-afterOpen {
    opacity: 1;
    transition: opacity 2000ms ease-in-out;
   
} 
.Modal-beforeClose {
    opacity: 0;
}

#box {
    height: 500px;
    overflow: hidden;
}

.btn-exit {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(128, 128, 128, 0.5);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    font-size: 1.6rem;
    color: white;
}